// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #07c5c5;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$border-form-input: solid #d5d9de 1px;
$border-inner-form-input: solid #06c5c44a 1px;
$grey-shadow: 4px 4px 10px #0000003d;
