<div class="navbar fixed-bottom navbar-light bg-light">
  <i class="far fa-calendar-plus icon-navbar"></i>
  <i class="fas fa-plus" id="plus-navbar"></i>
  <i class="far fa-check-square icon-navbar"></i>
</div>
